.container {
    margin-top: 20px;
    max-width: 600px;
}

#title {
    margin-bottom: 20px;
    color: #29deb5;
}

#output {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

#profile-image {
    float: right;
    border-radius: 200px;
    height: 85px;
}

#profile-image-container {
    min-width: 100px;
    min-height: 100px;
}

.height100 {
    height: 100%;
}

.left-message-box {
    text-align: left;
}

.right-message-box {
    text-align: right;
}

.left-message-text {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 7px;
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.right-message-text {
    background-color: #29deb5;
    border-radius: 5px;
    padding: 7px;
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.system-message-text {
    border-radius: 5px;
    padding: 7px;
    display: inline-block;
    max-width: 70%;
    word-wrap: break-word;
    font-size: small;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.system-message-error-text {
    color: red;
}

.left-image {
    vertical-align: bottom;
    width: 40px;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.right-image {
    vertical-align: bottom;
    width: 40px;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.left-message-sender {
    font-size: small;
    margin-top: -10px;
    margin-bottom: 10px;
}
